<div class="filter-pane">
	<div class="filter-header">		
		<div class="d-flex justify-content-between">
			<button class="btn collapsed ml-3" data-toggle="collapse" data-target="#collapseMainFilter" aria-expanded="false" aria-controls="collapseMainFilter" ng-click="$ctrl.onClickFilterHeader();">
        <img src="img/icons/filters-light.png">
        <span ng-if="$ctrl.useDemos" class="text-demo"></span>
        <span ng-if="!$ctrl.useDemos" class="text-nondemo"></span>
      </button>
      <button class="btn ml-3" data-toggle="collapse" data-target="#CurrentSelections" aria-expanded="true" aria-controls="CurrentSelections">
      	<span class="text-show-hide">&nbsp;current selections</span>
      </button>
		</div>
		
	</div>
	<div id="CurrentSelections" class="current-selections collapse show" aria-labelledby="headingCurrentFilter"></div>
	<div class="row">
		<div class="col">
			<div id="collapseMainFilter" class="collapse" aria-labelledby="headingMainFilter" data-parent="#filter-pane">
	      <qlik-object ng-if="$ctrl.useDemos" obj-id="mStzpP" height="20rem" width="100%"></qlik-object>
	      <qlik-object ng-if="!$ctrl.useDemos" obj-id="kbpHypC" height="20rem" width="100%"></qlik-object>"
	    </div>
	  </div>
	</div>
</div>