.filter-pane {
	background-color: rgba(84,83,82, 1.0);
	margin-bottom: 5px;
	//padding-bottom: 5px;
	.qv-filterpane {
		background-color: rgba(84,83,82, 1.0);
		// color: rgba(84,83,82, 1.0);
		margin-bottom: 5px;
	}
}