.filter-pane {
	.current-selections {			
		.qv-panel-current-selections {
			background-color: #398635;
			height: 100% !important;
			//display: inline;
		}
		.buttons {
			display: none;
		}
		.buttons-end {
			display: none;
		}
	}

	.filter-header {
		background-color: #398635;
		//display: flex;
		//border: 5px solid white;

		.btn {
			color: #fff;
			background-color: #398635;
			overflow: hidden;
		}

		.text-demo span {
			display: none !important;
		}
		.text-demo:after {
			content: 'Click to close' !important;
		}
		.collapsed .text-demo:after {
			content: 'Select schools and student groups' !important;
		}

		.text-nondemo span {
			display: none !important;
		}
		.text-nondemo:after {
			content: 'Click to close' !important;
		}
		.collapsed .text-nondemo:after {
			content: 'Select schools' !important;
		}

		.text-show-hide span {
		  display: none !important;
		}
		.text-show-hide:before {
		  content: "Hide" !important;
		}
		.collapsed .text-show-hide:before {
		  content: "Show" !important;
		}
	}

	#collapseMainFilter {
		background-color:#fff;
	}

}

		