<div class="topics">
  <div class="main">
    <section class="sticky-top">
      <navbar current-page="Topics"></navbar>
      <filter-pane></filter-pane>  
    </section>
    <section>
      <div class="above-fold">  
        <div class="instructions">  
          <div class="d-flex flex-wrap"> 
            <div class="text-block">   
              <h2 class="header"> What are the main topics in the surveys? </h2>
              <p>
                After analyzing survey results the Office of Research and Evaluation categorized each question into one of five general topics.
                For each topic a score is constructed by calculating the % of responses to topic-related questions that are the best possible choice.

                On this page you can choose a topic to compare schools and other groups of students for each of these topics.
              </p>
              <p class="ml-2">
                <strong>School Climate</strong> - Questions addressing bullying, safety, attendance, discipline, and relationships
                <br>
                <strong>Instruction</strong> - Questions addressing teaching, student engagement, data usage, and district support
                <br>
                <strong>Parent/Guardian-Community Ties</strong> - Questions addressing outreach, communication quality, guardian involvement, and networks (Parent, Teacher, and Principal only)
                <br>
                <strong>School Leadership</strong> - Questions addressing leadership decisions, feedback, and school focus priorities (Teacher and Principal only)
                <br>
                <strong>Professional Capacity</strong> - Questions addressing peer collaboration, professional development, and opportunites for innovation (Teacher and Principal only)
              </p>
            </div>
            <div class="ml-4">
              <img style="max-width:500px;" src="img/survey-resources/constructs.jpg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="accordion" id="accordion">
        
        <!-- Map -->
        <div class="card">
          <div class="card-header" id="headingMap">
            <h5 class="mb-0">
              <button class="btn collapsed icon map" id="headingMap" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; Map</span>
                  <img class="icon" src="img/icons/icon-map.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#accordion">
            <div class="card-body">
              <div class="instructions">
                <p class="text-block pr-3">
                   Select a respondent group and topic to view the average topic score by school on the map. You can zoom or scroll the area of the map
                </p>
              </div>
              <variable-selection-pane  orient-survey="horiz" orient-construct="horiz" constructs-hidden="['Other']" surveys-hidden="['Principal']"></variable-selection-pane> 
              <qlik-object obj-id="BHWkS" height="450px" width="100%" obj-options="{noSelections:true}"></qlik-object>
            </div>
          </div>  
        </div>

        <!-- YOY -->
        <div class="card">
          <div class="card-header" id="headingYOY">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingYOY" data-toggle="collapse" data-target="#collapseYOY" aria-expanded="false" aria-controls="collapseYOY" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; Yearly Change</span>
                  <img class="icon" src="img/icons/icon-yoy.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseYOY" class="collapse" aria-labelledby="headingYOY" data-parent="#accordion">
            <div class="card-body">
              <div class="instructions">
                <p class="text-block pr-3">
                  Select a respondent group and topic to view the average topic score by network. If a network is selected, schools within that network will be displayed. If a school is selected, grades may be displayed.
                </p>
              </div>
              <variable-selection-pane  orient-survey="horiz" orient-construct="horiz" constructs-hidden="['Other']"></variable-selection-pane> 
              <div class="qlik-object-with-title-and-subtitle">
                <qlik-object obj-id="JPhNfNh" height="400px" width="100%"></qlik-object> 
              </div>
            </div>
          </div>  
        </div>
      </div>
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>