<div class="topics">
  <div class="main">
    <section class="sticky-top">
      <navbar current-page="Topics"></navbar>
      <filter-pane></filter-pane>  
    </section>
    <section>
      <div class="instructions">  
        <div class="d-flex flex-wrap"> 
          <div class="text-block">   
            <h2 class="header"> What are the main themes in the surveys? </h2>
            <p>
              Following analysis of survey results the Office of Research and Evaluated categorized each question into one of five general topics.
              For each topic a score is constructed by calculating the % of answers to topic-related questions are the best possible choice.

              On this page you can choose a topic to compare schools and other groups of students for each of these topics.
            </p>
            <p class="ml-2">
              <strong>School Climate</strong> - Questions addressing bullying, safety, attenandance, discipline, and relationships.
              <br>
              <strong>Instruction</strong> - Questions addressing teaching, student engagement, data usage, and district support.
              <br>
              <strong>Parent/Guardian-Community Ties</strong> - Questions addressing outreach, communication quality, guardian involvement, and networks (Parent, Teacher, and Principal only)
              <br>
              <strong>School Leadership</strong> - Questions addressing leadership decisions, feedback, and school focus priorities (Teacher and Principal only)
              <br>
              <strong>Professional Capacity</strong> - Questions addressing peer collaboration, professional development, and opportunites for innovation (Teacher and Principal only)
            </p>
          </div>
          <div class="ml-4">
            <img style="border:1px solid #ccc; max-width:400px;" src="img/survey-resources/constructs.jpg">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="accordion" id="accordion">
         <!-- YOY -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; Yearly Change</span>
                  <img class="icon" src="img/icons/icon-yoy.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <variable-selection-pane  orient-survey="horiz" orient-construct="horiz"></variable-selection-pane> 
              <div class="qlik-card">
                <qlik-object obj-id="JPhNfNh" height="450px" width="80%"></qlik-object>                
              </div>
            </div>
          </div>  
        </div>

        <!-- Map -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; Map</span>
                  <img class="icon" src="img/icons/icon-map.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <variable-selection-pane  orient-survey="horiz" orient-construct="horiz"></variable-selection-pane>
                <div class="qlik-card">
                  <qlik-object obj-id="BHWkS" height="600px" width="80%"></qlik-object>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>