<section>
  <navbar current-page="Focus Questions"></navbar>
</section>
<section>
  <filter-pane></filter-pane>
  <br/><br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1 ml-2 mr-5">
        <h5>Choose a group:</h5>
        <div class="list-group"
          aria-label="Choose a group to focus on">
          <a class="list-group-item list-group-item-secondary list-group-item-action"
              ng-repeat="group in $ctrl.groups"
              ng-click="$ctrl.onClickGroup(group)"
              ng-class="{active : group === $ctrl.activeGroup}"
              href="">
            {{group}}
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-xs-3 m-2"
              ng-repeat="ids in $ctrl.qlikIds[$ctrl.activeGroup]"
              style="max-width:310px;">
            <div class="qlik-card">
              <div class="text-center" style="height:3.2em;">
                <h5>{{ids.title}}</h5>
              </div>
              <div style="margin-top:2em">
                <qlik-object obj-id="{{ids.kpi}}" height="100px" width="300px"></qlik-object>
                <br>
                <qlik-object obj-id="{{ids.comboChart}}" height="300px" width="300px"></qlik-object>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
