.focus-questions {
	.above-fold .instructions {
		.text-block {
			max-width: 40em;
		}
	}
	.question-header {
	  width:100%; 
	  text-align:left;	  
	  .question-intro {
	  	color: #888;
	  }
	  .question-response {
	  	color: #888;
	  	font-weight: bold;
	  }
	  .question-stem {
	  	color: #888;
	  }
	}
	.question-text {
		text-align: center;
  	font-style: oblique;
		font-weight: bold;
		color: #47aad8;
		height:3.2em;
		min-width: 330px;
		padding-left: 24px;
  }

  .kpi {
  	width: 320px;
  	padding-left: 24px;
  	.qv-object-content-container {
    	position: static !important;
  	}
  }

  .combo-chart {
  	.qv-object-content-container {
    	position: static !important;
  	}
  }
}