<div class="focus-questions">
  <div class="main">
    <section class="sticky-top">
      <navbar current-page="Focus Questions"></navbar>
      <filter-pane></filter-pane>
    </section>
    <section>
      <div class="instructions">      
        <div class="d-flex flex-wrap"> 
          <div class="text-block">
            <h2 class="header"> What are some of the highlights of the survey? </h2>
            <p class="body">
              Here are select questions for each respondent group (students, parents, and teachers) that give an overview of the data. Focus questions show positive trends in the data and Anchor Goal questions relate to the goals in the District's <a href="https://www.philasd.org/actionplan/">Action Plan</a>
              <br><br>
              You can view highlighted question by responding group or by Anchor Goal by selecting a tab below.
            </p>
          </div>
          <div ng-if="$ctrl.accordionsCollapsed" style="max-width:400px" class="vis-block">
            <div class="question-header"> 
              <h5>                  
                <span class="question-intro">{{$ctrl.demoHeaders.intro}}, 
                </span>
                <span class="question-response">                       {{$ctrl.demoHeaders.response}}
                </span>
                <span class="question-intro">to... </span>
              </h5>
            </div>
            <div style="display:block">
              <div>
                <h5 class="question-text" style="height:1.2em;">{{$ctrl.demoIds.title}}</h5>
              </div>
              <qlik-object style="text-align:center;" obj-id="{{$ctrl.demoIds.kpi}}" width="300px"></qlik-object>
              <div class="qlik-card">              
                <span style="display:inline-block; text-align:center">Other Responses<span>        
                <qlik-object obj-id="{{$ctrl.demoIds.comboChart}}" height="220px" width="300px" obj-options="{noSelections:true}"></qlik-object>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>    
      <div class="accordion" id="accordion">

        <!-- highlights by survey type -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; By Respondent Group</span>
                  <img class="icon" src="img/icons/icon-yoy.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="container-fluid mt-3">
              <div class="row">
                <div class="col-xs-1 ml-2 mr-5">
                  <h5>Choose a group:</h5>
                  <div class="btn-group-vertical" style="width:100%" role="group" aria-label="Respondent Group">
                    <button type="button" class="btn btn-sdp"
                        ng-repeat="group in $ctrl.groups"
                        ng-click="$ctrl.onClickGroup(group)"
                        ng-class="{active : group === $ctrl.activeGroup}">
                      {{group}}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col question-header"> 
                      <h5>                  
                        <span class="question-intro">                       {{$ctrl.groupHeaders[$ctrl.activeGroup].intro}}, 
                        </span>
                        <span class="question-response">                       {{$ctrl.groupHeaders[$ctrl.activeGroup].response}}
                        </span>
                        <span class="question-intro">to... </span>
                      </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 m-2"
                        ng-repeat="ids in $ctrl.groupIds[$ctrl.activeGroup]"
                        style="max-width:310px;">
                      <div class="mt-2">
                        <div class="question-text">
                          <h5>{{ids.title}}</h5>
                        </div>
                        <qlik-object obj-id="{{ids.kpi}}" width="300px"></qlik-object>
                        <div class="qlik-card">              
                          <span style="display:inline-block; text-align:center">Other Responses<span>        
                          <qlik-object obj-id="{{ids.comboChart}}" height="300px" width="300px" obj-options="{noSelections:true}"></qlik-object>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>

        <!-- highlights by AG -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; By Anchor Goals </span>
                  <img class="icon" src="img/icons/icon-yoy.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="container-fluid mt-3">
              <div class="row">
                <div class="col-xs-1 ml-2 mr-5">
                  <h5>Choose an Anchor Goal:</h5>
                  <div class="btn-group-vertical" style="width:100%" role="group" aria-label="Anchor Goal">
                    <button type="button" class="btn btn-sdp"
                        ng-repeat="ag in $ctrl.ags"
                        ng-click="$ctrl.onClickAG(ag)"
                        ng-class="{active : ag === $ctrl.activeAG}">
                      {{ag}}
                    </button>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col question-header"> 
                      <h5>                  
                        <span class="question-intro">                       {{$ctrl.groupHeaders[$ctrl.activeGroup].intro}}, 
                        </span>
                        <span class="question-response">                       {{$ctrl.groupHeaders[$ctrl.activeGroup].response}}
                        </span>
                        <span class="question-intro">to... </span>
                      </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 m-2"
                        ng-repeat="ids in $ctrl.agIds[$ctrl.activeAG]"
                        style="max-width:310px;">
                      <div class="qlik-card">
                        <div class="question-text">
                          <h5>{{ids.title}}</h5>
                        </div>
                        <div style="margin-top:2em">
                          <qlik-object obj-id="{{ids.kpi}}" height="100px" width="300px"></qlik-object>
                          <br>
                          <qlik-object obj-id="{{ids.comboChart}}" height="300px" width="300px" obj-options="{noSelections:true}"></qlik-object>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>    
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>
