<div class="variable-selection-pane">
	<div class="d-flex flex-wrap">
		<variable-selector 
				ng-if="$ctrl.survey != null"
				style="padding-right:20px;"
				ng-class="'{{$ctrl.survey.cssClass}}'"
				variable-name={{$ctrl.survey.variableName}}
				variable-label={{$ctrl.survey.variableLabel}}
				source-field={{$ctrl.survey.sourceField}}
				governing-variables="$ctrl.survey.governingVariables"
				orientation={{$ctrl.survey.orientation}}
				hide-values="$ctrl.surveysHidden"
		></variable-selector>
		<variable-selector 
				ng-if="$ctrl.construct != null"
				style="padding-right:20px;"
				ng-class="'{{$ctrl.construct.cssClass}}'"
				variable-name={{$ctrl.construct.variableName}}
				variable-label={{$ctrl.construct.variableLabel}}
				source-field={{$ctrl.construct.sourceField}}
				governing-variables="$ctrl.construct.governingVariables"
				orientation={{$ctrl.construct.orientation}}
				hide-values="$ctrl.constructsHidden"
		></variable-selector>
		<variable-selector 
				ng-if="$ctrl.subConstruct != null"
				style="padding-right:20px; max-width:16em;"
				ng-class="'{{$ctrl.subConstruct.cssClass}}'"
				variable-name={{$ctrl.subConstruct.variableName}}
				variable-label={{$ctrl.subConstruct.variableLabel}}
				source-field={{$ctrl.subConstruct.sourceField}}
				governing-variables="$ctrl.subConstruct.governingVariables"
				orientation={{$ctrl.subConstruct.orientation}}
				hide-values="$ctrl.subConstructsHidden"
		></variable-selector>
		<variable-selector 
				ng-if="$ctrl.questionText != null"
				ng-class="'{{$ctrl.questionText.cssClass}}'"
				variable-name={{$ctrl.questionText.variableName}}
				variable-label={{$ctrl.questionText.variableLabel}}			
				source-field={{$ctrl.questionText.sourceField}}	
				governing-variables="$ctrl.questionText.governingVariables"
				orientation={{$ctrl.questionText.orientation}}
				hide-values="$ctrl.questionTextsHidden"
		></variable-selector>
	</div>
</div>