<div class="question-compare">
  <div class="main">
    <div class="modal fade" id="questionPicker" tabindex="-1" role="dialog" aria-labelledby="questionPickerTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="questionPickerTitle">Select a group, topic, sub-topics, and question</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <variable-selection-pane orient-survey="vert" orient-construct="vert" orient-sub-construct="combo" orient-question-text="list"></variable-selection-pane>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="altSelectionPicker" tabindex="-1" role="dialog" aria-labelledby="altSelectionTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="altSelectionTitle">Select values for a comparison group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <qlik-object ng-if="$ctrl.useDemos" obj-id="YAtp" height="220px" width="300px"></qlik-object>
            <qlik-object ng-if="!$ctrl.useDemos" obj-id="KkpDM" height="150px" width="300px"></qlik-object> -->
            <p>Click on a category below to make selections</p>
            <div class="d-flex flex-wrap">              
              <div id="altSelectionPlaceholder-0" class="listbox-placeholder">
              </div>
              <div id="altSelectionPlaceholder-1" class="listbox-placeholder"></div>
              <div id="altSelectionPlaceholder-2" class="listbox-placeholder"></div>
              <div id="altSelectionPlaceholder-3" class="listbox-placeholder" ng-if="$ctrl.useDemos"></div>
              <div id="altSelectionPlaceholder-4" class="listbox-placeholder" ng-if="$ctrl.useDemos"></div>
              <div id="altSelectionPlaceholder-5" class="listbox-placeholder" ng-if="$ctrl.useDemos"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="clear-left" ng-click="$ctrl.clearSelections('Alt1')">
              Clear comparison selections
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$ctrl.onClickAltSelectionsClose()">Close</button>
          </div>
        </div>
      </div>
    </div>

    <section class="sticky-top">
     <navbar current-page="Question Compare"></navbar> 
      <filter-pane></filter-pane>
    </section>
     <!-- Above-the-fold instructions and content -->
    <section>
      <div class="above-fold">     
        <div class="instructions">     
          <div class="d-flex flex-wrap"> 
            <div class="text-block">
              <h2 class="header"> How was each question answered? </h2>
              <p class="body">
                The District-Wide Survey includes approximately <strong>{{$ctrl.numQuestionsStudent}} student </strong> questions, <strong>{{$ctrl.numQuestionsParent}} parent </strong> questions, 
                <strong>{{$ctrl.numQuestionsTeacher}} teacher </strong> questions, and
                <strong>{{$ctrl.numQuestionsPrincipal}} principal </strong> questions. On this page you can view aggregated responses to each of these questions. For a list of all questions included on the 2019 surveys, visit 
                <a href="https://www.philasd.org/research/programsservices/district-wide-surveys/allquestions/">the Survey Questions website</a>.
                <br><br>
                Click the button, "<span style="background-color:#47aad8; color:#fff; border-radius:4px; border-style:thin; border-color:#808000;padding:2px;">⊕ Select a new question</span>" 
                to view questions based on respondent type, topic, and sub-topics. After choosing a question, the chart at right displays the % of respondents who selected each possible response (bars display data for {{$ctrl.CYTD}} while circles show the same data {{$ctrl.PYTD}}). Blue bars and circles represent the "most positive" response, while red bars and circles represent the "least positive" response. You may hover over a bar to see the numbers for each year.
                <br><br>
                In the blue ribbons below you can compare responses to specific questions <span ng-if="$ctrl.includeComparison">by respondent charecteristics,&nbsp; </span> by locatation, or across networks and schools.
              </p>
            </div>
            <div ng-if="$ctrl.accordionsCollapsed" class="vis-block" style="max-width:400px">
              <button class="btn mx-auto" data-toggle="modal" data-target="#questionPicker">
                ⊕ <span>Select a new question</span>
              </button>
              <div class="question-display">
                <div class="survey-topic">
                  <div class="pill-title">Group: </div>
                  <div class="pill">{{$ctrl.survey}}</div>
                  <div class="pill-title">Topic: </div>
                  <div class="pill">{{$ctrl.construct}}</div>
                  <hr>
                </div>
                <div class="question-stem d-block">{{$ctrl.questionStem}}</div>
                <div class="question-text d-block">{{$ctrl.questionText}}</div>
                <qlik-object class="mx-auto"  obj-id="GSWQJ" height="220px" width="350px" obj-options="{noSelections:true}"></qlik-object>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </section>

    <section> 
      <!-- Visualization accordion -->
      <div class="accordion" id="accordion">
        <!-- Compare Groups -->
        <div class="card" ng-if="$ctrl.includeComparison">
          <div class="card-header" id="headingCompare">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingCompare" data-toggle="collapse" data-target="#collapseCompare" aria-expanded="false" aria-controls="collapseCompare" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; Compare Groups</span>
                  <div>
                    <img class="icon" src="img/icons/icon-yoy.png"> 
                    <img class="icon" src="img/icons/icon-yoy.png"> 
                  </div>
                </div>
              </button>       
            </h5>
          </div>
          <div id="collapseCompare" class="collapse" aria-labelledby="headingCompare" data-parent="#accordion">
            <div class="card-body"> 
              <div class="instructions">     
                <div class="d-flex flex-wrap"> 
                  <p class="text-block pr-3">
                    Compare your selected schools or groups of respondents with another group. The selections you've made from the green bar above are displayed on the left graph. Choose comparison groups from the panel on the right. These respondents' responses will display on the right-hand chart.
                  </p>
                  <div>
                    <button class="btn" data-toggle="modal" data-target="#questionPicker">
                      ⊕ <span>Select a new question</span>
                    </button>
                    <div class="survey-topic">
                      <div class="pill-title">Group: </div>
                      <div class="pill">{{$ctrl.survey}}</div>
                      <div class="pill-title">Topic: </div>
                      <div class="pill">{{$ctrl.construct}}</div>
                    </div>
                    
                  </div>
                </div>              
              </div>
              <div class="question-display">
                <h3 class="question-stem">{{$ctrl.questionStem}}</h3>
                <h3 class="question-text">{{$ctrl.questionText}}</h3>
              </div>
              <div class="row">
                <div class="col col-lg-6" >
                  <div class="primary-selections">
                    <div class="banner">
                      <img src="img/icons/filters-light.png">
                      <span>Selected groups</span>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p style="min-height:4em;">The chart below reflects the schools and respondent groups selected in the green bar at the top of the screen. If no selections have been made, city-wide averages are displayed.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="combo-chart mx-auto">
                          <qlik-object obj-id="SFrRaJX" height="300px" width="350px" obj-options="{noSelections:true}"></qlik-object>          
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <br>
                        <qlik-object obj-id="zWnZvf" width="350px"></qlik-object>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-lg-6">  
                  <div class="alternative-selections">
                    <div class="banner">
                      <img src="img/icons/filters-light.png">
                      <span>Alternative selections</span>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p style="min-height:4em;">The chart below allows you to create a comparison set of schools and respondent groups. Make selections below to change values in the chart. If no selections are made, city-wide averages are displayed.
                        </p>
                      </div>
                    </div>
                    <div class="row">            
                      <div class="col">     
                        <div class="combo-chart">             
                          <qlik-object obj-id="DQBUdJ" height="300px" width="350px" obj-options="{noSelections:true}"></qlik-object>
                        </div>
                      </div> 
                    </div>
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-secondary" data-toggle="modal" data-target="#altSelectionPicker" ng-click="$ctrl.onClickAltSelectionsOpen()">
                          <span>Select a comparison group</span>
                        </button>
                        <button type="button" class="btn btn-danger" id="clear-left" ng-click="$ctrl.clearSelections('Alt1')">
                          Clear comparison selections
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <br>
                        <qlik-object obj-id="RMJqN" width="350px"></qlik-object>                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Map -->
        <div class="card">
          <div class="card-header" id="headingMap">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingMap" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; Map</span>
                  <img class="icon" src="img/icons/icon-map.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#accordion">
            <div class="card-body"> 
              <div class="instructions">     
                <div class="d-flex flex-wrap"> 
                  <p class="text-block pr-3">
                    View "% most positive" by school on the map for {{$ctrl.CYTD}}. This is the average % of questions in which respondents selected the "most positive" response (such as "strongly agree"). You can zoom or scroll the area of the map.
                  </p>
                  <div>
                    <button class="btn" data-toggle="modal" data-target="#questionPicker">
                      ⊕ <span>Select a new question</span>
                    </button>
                    <div class="survey-topic">
                      <div class="pill-title">Group: </div>
                      <div class="pill">{{$ctrl.survey}}</div>
                      <div class="pill-title">Topic: </div>
                      <div class="pill">{{$ctrl.construct}}</div>
                    </div>
                  </div>
                </div>              
              </div> 
              <div class="question-display">
                <h3 class="question-stem">{{$ctrl.questionStem}}</h3>
                <h3 class="question-text">{{$ctrl.questionText}}</h3>
              </div>
              <div class="qlik-object-with-title">
                <qlik-object obj-id="mmQp" height="450px" width="100%" obj-options="{noSelections:true}"></qlik-object>
              </div>
            </div>
          </div>
        </div>

        <!-- YOY -->
        <div class="card">
          <div class="card-header"id="headingYOY">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingYOY" data-toggle="collapse" data-target="#collapseYOY" aria-expanded="false" aria-controls="collapseYOY" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp; Yearly Change by Network and School</span>
                  <img class="icon" src="img/icons/icon-yoy.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseYOY" class="collapse" aria-labelledby="headingYOY" data-parent="#accordion">
            <div class="card-body">
              <div class="instructions">     
                <div class="d-flex flex-wrap"> 
                  <p class="text-block pr-3">
                    The following chart displays the average "% most positive" scores by network or school. This is the average % of questions in which respondents selected the "most positive" response (such as "strongly agree"). Bars display "% most positive" in {{$ctrl.CYTD}}. Circles display "% most positive" in {{$ctrl.PYTD}}. Each bar and circle represents a learning network. You can click on a network to see all schools in that network. For Student and Parent questions you may click on a school to show grade levels in that school.
                  </p>
                  <div>
                    <button class="btn" data-toggle="modal" data-target="#questionPicker">
                      ⊕ <span>Select a new question</span>
                    </button>
                    <div class="survey-topic">
                      <div class="pill-title">Group: </div>
                      <div class="pill">{{$ctrl.survey}}</div>
                      <div class="pill-title">Topic: </div>
                      <div class="pill">{{$ctrl.construct}}</div>
                    </div>
                  </div>
                </div>              
              </div> 
              <div class="question-display">
                <h3 class="question-stem">{{$ctrl.questionStem}}</h3>
                <h3 class="question-text">{{$ctrl.questionText}}</h3>
              </div>
              <div class="qlik-object-with-title-and-subtitle">
                <qlik-object obj-id="zmNpP" width="100%" height="400px"></qlik-object>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>
