<div class="survey-resources">
	<div class="main">
		<section class="sticky-top">
	    <navbar current-page="Survey Resources"></navbar>
	  </section>
	  <section>
	  	<div id="main-container" class="container">
	    	<h1 class="title">About the Surveys</h1>
	    	<div id="page-body">
	      	<p>If you have any questions that are not addressed by the FAQ or experience difficulty using the website, please contact&nbsp;The Office of Research and Evaluation&nbsp;at <a href="mailto:schoolsurveys@philasd.org">schoolsurveys@philasd.org</a>.</p>
					<hr>
					<h2>Why does the School District of Philadelphia have surveys?</h2>
					<div class="d-flex justify-content-between">
						<p>
							The surveys were designed to capture feedback <em>from the school community</em> on five key topics related to school improvement—climate, instruction, leadership, professional capacity, and parent/guardian-community ties. With an eye toward the Action Plan 3.0 goal of creating an equitable system of schools, this feedback provides a more complete picture of Philadelphia schools than relying solely on traditional measures of school success. By considering the perspectives of different groups in a school, this feedback can help pinpoint what is working well in a school along with areas that need to be improved.
						</p>
						<img style="border:1px solid #ccc;margin-left: 15px;margin-bottom:10px;width:40%;height:40%" src="img/survey-resources/constructs.jpg">
					</div>
					<h2>What do the surveys measure?</h2>
					<p>The surveys measure five key topics related to school improvement—climate, instruction, leadership, professional capacity, and parent/guardian-community ties. The surveys were developed using research on effective schools and school reform, particularly the extensive work done by Anthony Bryk and his colleagues (2010) at <a href="https://uchicagoimpact.org/our-offerings/5essentials">The University of Chicago Consortium on School Research</a>.</p>
					<p>Different groups were asked to provide feedback on different questions across the five topics. Within each topic, the questions were organized by subtopic. </p>
					<!-- CLIMATE TABLE -->
					<table class="table table-bordered">
						<thead>
							<tr class="topic-header">
								<td style="width:10%">
									<p>Topic</p>
								</td>
								<td colspan="11">
									<p style="text-align: center;">
										<strong>School Climate</strong>
									</p>
								</td>
							</tr>
							<tr class="subtopic-header">
								<td>
									<p>Subtopic</p>
								</td>
								<td>
									<p>Belonging</p>
								</td>
								<td>
									<p>Bullying</p>
								</td>
								<td>
									<p>Safety/ building condition</p>
								</td>
								<td>
									<p>Student-centered learning climate</p>
								</td><td>
									<p>Respect</p>
								</td>
								<td>
									<p>Interpersonal relationships</p>
								</td>
								<td>
									<p>Classroom-level challenges</p>
								</td>
								<td>
									<p>School-level challenges</p>
								</td>
								<td>
									<p>External challenges</p>
								</td>
								<td>
									<p>Attendance</p>
								</td>
								<td>
									<p>School Discipline</p>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									<p><strong>Student</strong></p>
								</th>
								<td>
									<span>✔</span>
								</td>
								<td>
									<span>✔</span>
								</td>
								<td>
									<span>✔</span>
								</td>
								<td>
									<span></span>
								</td>
								<td>
									<span></span>
								</td>
								<td>
									<span></span>
								</td>
								<td>
									<span></span>
								</td>
								<td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td></tr>
							<tr><th><p><strong>Parent</strong></p></th><td><span></span></td><td><span>✔</span></td><td><span>✔</span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td></tr>
							<tr><th><p><strong>Teacher</strong></p></th><td><span></span></td><td><span>✔</span></td><td><span></span></td><td><span>✔</span></td><td><span>✔</span></td><td><span></span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td>	</tr>
							<tr><th><p><strong>Principal</strong></p></th><td><span></span></td><td><span></span></td><td><span></span></td><td><span>✔</span></td><td><span></span></td><td><span>✔</span></td><td><span></span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td><td><span></span></td></tr>
						</tbody></table>
					<!-- END CLIMATE TABLE -->
					<br><br>

					<!-- INSTRUCTION TABLE -->
					<table class="table table-bordered">
						<thead>
							<tr class="topic-header"><td style="width:10%"><p>Topic</p></td><td colspan="4"><p style="text-align: center;"><strong>Instruction</strong></p></td>
							</tr>
							<tr class="subtopic-header"><td><p>Subtopic</p></td><td style="width:45%"><p>Evaluation of teaching &amp; learning</p></td><td><p>Student engagement</p></td><td><p>Data use</p></td><td><p>External supports</p></td></tr>
						</thead>
						<tbody>
							<tr><th><p><strong>Student</strong></p></th><td><span>✔</span></td><td><span></span></td><td><span></span></td><td><span></span></td></tr><tr><th><p><strong>Parent</strong></p></th><td><span>✔</span></td><td><span></span></td><td><span></span></td><td><span></span></td></tr>
							<tr><th><p><strong>Teacher</strong></p></th><td><span></span></td><td><span>✔</span></td><td><span></span></td><td><span></span></td></tr>
							<tr><th><p><strong>Principal</strong></p></th><td><span></span></td><td><span></span></td><td><span>✔</span></td><td><span>✔</span></td></tr></tbody></table>
					<!-- END INSTRUCTION TABLE -->
					<br><br>

					<!-- LEADERSHIP TABLE -->
					<table class="table table-bordered">
						<thead>
							<tr class="topic-header">
								<td style="width:10%"><p>Topic</p></td><td colspan="8"><p style="text-align: center;"><strong>School Leadership</strong>&nbsp;</p></td>
							</tr>
							<tr class="subtopic-header"><td><p>Subtopic</p></td><td><p>Expectations &amp; feedback</p></td><td><p>Inclusive leadership</p></td><td><p>Management</p></td><td><p>Engagement</p></td><td><p>Instruction</p></td><td><p>School-level decision making</p></td><td><p>Classroom-level decision making</p></td><td><p>School focus</p></td></tr>
						</thead>
						<tbody>
							<tr><th><p><strong>Student</strong></p></th><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td></tr>
							<tr><th><p><strong>Parent</strong></p></th><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td></tr>
							<tr><th><p><strong>Teacher</strong></p></th><td><span>✔</span></td><td><span>✔</span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td><td><span>✔</span></td><td><span></span></td></tr>
							<tr><th><p><strong>Principal</strong></p></th><td><span></span></td><td><span></span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td><td><span></span></td><td><span>✔</span></td></tr></tbody></table>
					<!-- END LEADERSHIP TABLE -->
					<br><br>

					<!-- PROF CAP and PARENT-GUARDIAN COMM TIES -->
					<table class="table table-bordered">
						<thead>
							<tr class="topic-header">
								<td style="width:10%"><p>Topic</p></td><td colspan="4"><p style="text-align: center;"><strong>Professional Capacity</strong></p>
								</td>
								<td class="blank-col">&nbsp;</td>
								<td style="width:45%" colspan="4"><p style="text-align: center;"><strong>Parent/Guardian-Community Ties</strong></p>
								</td>
							</tr>
							<tr class="subtopic-header">
								<td><p>Subtopic</p></td><td><p>Innovation</p></td><td><p>Quality of PD: delivery</p></td><td><p>Quality of PD: consistency</p></td><td><p>Peer collaboration</p></td>
								<td class="blank-col">&nbsp;</td>
								<td><p>Communication</p></td><td><p>Involvement</p></td><td><p>Networks</p></td><td><p style="text-align: center;">Parent/Guardian school relationship</p>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th><p><strong>Student</strong></p></th>
								<td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td>
								<td class="blank-col">&nbsp;</td>
								<td><span></span></td><td><span></span></td><td><span></span>
								</td>
							</tr>
							<tr>
								<th><p><strong>Parent</strong></p></th>
								<td><span></span></td><td><span></span></td><td><span></span></td><td><span></span></td>
								<td class="blank-col">&nbsp;</td>
								<td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td>
							</tr>
							<tr>
								<th><p><strong>Teacher</strong></p></th>
								<td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span></td><td><span>✔</span>
								</td>
								<td class="blank-col">&nbsp;</td>
								<td><span>✔</span></td><td><span></span><td><span></span><td><span></span>
							</tr>
							<tr>
								<th><p><strong>Principal</strong></p></th>
								<td><span></span></td><td><span>✔</span></td><td><span></span></td><td><span>✔</span>
								</td>
								<td class="blank-col">&nbsp;</td>
								<td><span>✔</span></td><td><span></span><td><span></span><td><span></span>
							</tr>
						</tbody>
					</table>
					<br><br>
					<h2>How were these surveys designed?</h2>
					<p>These surveys were developed by The School District of Philadelphia (SDP) Office of Research and Evaluation (ORE) in collaboration with the University of Pennsylvania Graduate School of Education (Penn GSE), as part of <a href="http://www.gse.upenn.edu/partnership/">Shared Solutions</a>, the first formal researcher–practitioner partnership between SDP and Penn GSE. Through multiple rounds of focus groups, item testing, and cognitive interviews, stakeholders played a critical role in determining the questions included in the survey, the language used, and the methods of distribution.</p>
					<h2>Who takes the surveys?</h2>
					<p>Surveys are made available to students in grades 3-12 attending District public and charter schools, their parents and guardians, teachers, and principals. The surveys are available each year from April through June.</p>
					<h2>How can people take the survey?</h2>
					<p>The District administers these surveys each spring. More information on the District’s survey schedule and access to the surveys can be found at <a target="_blank" href="https://www.philasd.org/research/programsservices/district-wide-surveys/">https://www.philasd.org/research/programsservices/district-wide-surveys/</a>.</p>

					<h2>How do you keep results private?</h2>
					<p>Data privacy is of the utmost importance to our survey efforts. All survey administration and analysis follows <a target="_blank" href="https://www.philasd.org/research/wp-content/uploads/sites/90/2018/11/District-wide-Survey-Code-of-Ethics_Feb-2018.pdf">The School District of Philadelphia's Survey Code of Ethics</a><strong>.</strong></p>
					<p>The surveys are primarily administered through SurveyMonkey, a company that uses some of the most advanced technology for Internet security that is commercially available (<a target="_blank" href="https://www.surveymonkey.com/mp/legal/privacy-policy/">https://www.surveymonkey.com/mp/legal/privacy-policy/</a>). This ensures that user data in transit is safe, secure, and available only to intended recipients. Surveys provided in other formats (e.g., paper copies) are administered according to strict guidelines to ensure confidentiality as well.</p>
					<p>To further protect confidentiality, all survey data is presented in aggregate. Where filters are provided (for example, for grade, ethnicity, or gender), results must meet a minimum number of responses in order to display. Additionally, principal data requires multiple schools to display results. This protects individual responses from being identified.</p>

					<h2>Where are my school’s results?</h2>
					<p>Data is only available for schools and selected groups that meet minimum response thresholds. For student and parent/guardian surveys at least 25 respondents are required to display results. For teachers and principals at least 5 respondents are required to display results.</p>
	    	</div>
	    </div>
	  </section>
	</div>
  <sdp-footer></sdp-footer>
</div>