<div class="home">
  <div class="main">
    <section class="sticky-top">
      <navbar></navbar>
    </section>
    <section class="main">
      <div class="home-banner">
        <div class="home-gradient">
          <div class="container">            
            <div class="row">
              <div class="col-md-6 text-md-left">
                <div class="home-banner-content" >
                  <h1>
                    Philadelphia School Surveys
                  </h1>
                  <hr>
                  <p>
                    Each year, Philadelphia public and charter school students (grades 3+), parents, teachers, and principals are invited to participate in a survey about their schools.
                    <br><br>
                    The feedback helps schools identify what is working and what areas need to be improved based on information collected directly from school stakeholders.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-content-block">
        <div class="container">
          <div class="row justify-content-center">
            <h1>Exploring the Results</h1>
          </div>
          <div>
            <p>
              The survey results are displayed in several ways. First, you can view how many people took the survey. This is important because with more survey participants it is more likely that the information accurately reflects the situation at a given school. The results are presented in charts and tables in order to make comparisons and see year-to-year changes in how people responded to the survey questions.
              <br><br>
              As you review information on the surveys, you may want to focus on response rates, responses to individual questions (including selected focus questions tied to district anchor goals), and major topics (e.g., "school climate").
              <br><br>
              Click one of the following to get started!
            </p>
            <div class="card-deck">
              <route-card
                  title="Response Rate"
                  route="response-rate"
                  img-src="img/routes/response-rate.png"
                  class="card">
                What percent of student, parents, teachers, and principals
                responded to the survey? How does this compare to previous years?
              </route-card>
              <route-card
                  title="Highlights"
                  route="focus-questions"
                  img-src="img/routes/focus-questions.png"
                  class="card">
                How do students, parents, and teachers respond to key selected questions about their schools?
              </route-card>          
              <route-card
                  title="Topics"
                  route="topics"
                  img-src="img/routes/topics.png"
                  class="card">
                  How do networks and schools compare on the five survey topics?
              </route-card>
              <route-card
                  title="All Questions"
                  route="question-compare"
                  img-src="img/routes/question-compare.png"
                  class="card"
                  >
                  How do students, parents, teachers, and principals respond to all questions? Compare schools, networks, or groups within schools.
              </route-card>    
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="home-content-block">
        <hr>
        <div class="container">
          <div class="row justify-content-center">
            <h1>More Information</h1>
          </div>
          <div>
            <p>
              The District-wide Surveys are managed by the Office of Research and Evaluation at the School District of Philadelphia
                <a href="mailto:schoolsurveys@philasd.org">schoolsurveys@philasd.org</a>. Click the button below to learn more about the surveys.
            </p>
            <route-card
              title="More about the surveys"
              route="survey-resources"
              hide-text="true"
              class="card mx-auto"
              style="width:300px; display:block-inline;">
            </route-card>
            <br>
          </div>
        </div>
      </div>  
    </div>
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>
