<div class="home">
  <div class="main">
    <section class="sticky-top">
      <navbar></navbar>
    </section>
    <section class="main">
      <div class="home-banner">
        <div class="home-gradient">
          <div class="container">            
            <div class="row">
              <div class="col-md-6 text-md-left">
                <div class="home-banner-content" >
                  <h1>
                    School District of Philadelphia District-Wide Surveys
                  </h1>
                  <hr>
                  <p>
                    Each year, the Office of Research and Evaluation (ORE) invites Philadelphia District and Charter students, parents/guardians, teachers, and principals to participate in a survey about their schools.
                    <br><br>
                    The survey feedback provides schools with stakeholder perspectives on what is working and what areas need to be improved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-content-block">
        <div class="container">
          <div class="row justify-content-center">
            <h1>Exploring the Results</h1>
          </div>
          <div>
            <p>
              Start exploring the data by selecting one of the categories below. “Response Rate” will take you to a page where you can view how many students, parents/guardians, teachers, and principals took the survey.
              <br><br>
              For responses directly related to the District’s Anchor Goals, choose the “Highlights” icon. “Topics” will tell you more about the five main survey topics and display a report that shows topic scores. “Question Explorer” allows you to choose a question and explore the findings. “About” provides background information about the survey.
              <br><br>
              As you review this information, you may want to focus on response rates, responses across the key survey topics (e.g., "school climate"), or responses to individual questions (including select focus questions tied to the District’s Anchor Goals). Use the green selection bar on the top of your screen to make school, network, and other student group selections.
              <br><br>
              Click one of the following to get started!
            </p>
            <div class="card-deck">
              <route-card
                  title="Response Rate"
                  route="response-rate"
                  img-src="img/routes/response-rate.png"
                  class="card">
                  How many students, parents/guardians, teachers, and principals responded to the survey each year?
              </route-card>
              <route-card
                  title="Highlights"
                  route="focus-questions"
                  img-src="img/routes/focus-questions.png"
                  class="card">
                  How do students, parents/guardians, and teachers respond to questions related to our Anchor Goals?
              </route-card>          
              <route-card
                  title="Topics"
                  route="topics"
                  img-src="img/routes/topics.png"
                  class="card">
                  How do networks and schools compare on the five key survey topics?
              </route-card>
              <route-card
                  title="Question Explorer"
                  route="question-compare"
                  img-src="img/routes/question-compare.png"
                  class="card">
                  How do students, parent/guardians, teachers, and principals respond to all questions?
              </route-card>    
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="home-content-block">
        <hr>
        <div class="container">
          <div class="row justify-content-center">
            <h1>More Information</h1>
          </div>
          <div>
            <p>
                The District-wide Survey program is managed by the School District of Philadelphia’s Office of Research and Evaluation. To learn more, click the button below or contact the survey team at
                <a href="mailto:schoolsurveys@philasd.org">schoolsurveys@philasd.org</a>.
            </p>
            <route-card
              title="About"
              route="survey-resources"
              hide-text="true"
              class="card mx-auto"
              style="width:200px; display:block-inline;">
            </route-card>
            <br>
          </div>
        </div>
      </div>  
    </div>
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>
