.home {
  .home-banner {
    background: url("../img/headers/6.jpg") no-repeat right center;
    background-size: cover;
    .home-gradient {
        // background: -moz-linear-gradient(45deg, rgba(34, 119, 159, 0.75), rgba(34, 119, 159, 0.4) 100%);
        // background: -webkit-linear-gradient(45deg, rgba(34, 119, 159, 0.75), rgba(34, 119, 159, 0.4) 100%);
        // background: -webkit-gradient(linear, 45deg, from(rgba(34, 119, 159, 0.75)), to(rgba(34, 119, 159, 0.4)));
        // background: -o-linear-gradient(45deg, rgba(34, 119, 159, 0.75), rgba(34, 119, 159, 0.4) 100%);
        // background: linear-gradient(to 45deg, rgba(34, 119, 159, 0.75), rgba(34, 119, 159, 0.4) 100%);

        background: -moz-linear-gradient(60deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1) 100%);
        background: -webkit-linear-gradient(60deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1) 100%);
        background: -webkit-gradient(linear, 60deg, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.1)));
        background: -o-linear-gradient(60deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1) 100%);
        background: linear-gradient(to 60deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1) 100%);

    }
    .home-banner-title {
      color: #EEE;
      margin-top:20px;
      font-style: oblique;
    }
    .home-banner-content {
      color: white;
      border-color: white;
      margin-top: 200px;
      margin-bottom: 100px;

      hr {
        border-color: white;
        color: white;
        background-color: white;
      }
    }
  }
  .home-content-block {
    padding-top: 40px;
    color: #555588;
    background-color: #fff;

    .card {
      box-shadow:4px 4px 2px #ccc;
      border: none;
      border-left: 1px solid #ddd;
      a:hover {
        text-decoration: none;
      }
      p {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
      }
    }
    .card:hover {      
      background-color: #F0F0FD;
    }
  }
}
