<div class="home">
  <div class="main">
    <section class="sticky-top">
      <navbar></navbar>
    </section>
    <section class="main">
      <div class="home-banner">
        <div class="home-gradient">
          <div class="container">            
            <div class="row">
              <div class="col-md-6 text-md-left">
                <div class="home-banner-content" >
                  <h1>
                    Philadelphia School Surveys
                  </h1>
                  <hr>
                  <p>
                    Each year, students, parents/guardians, teachers, and principals at District and charter schools are invited to participate in a survey about their schools.
                    <br><br>
                    The feedback provides schools with stakeholder perspectives on what is working and what areas need to be improved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-content-block">
        <div class="container">
          <div class="row justify-content-center">
            <h1>Exploring the Results</h1>
          </div>
          <div>
            <p>
              This interactive site displays the survey results in several ways. First, you can view how many people took the survey. As survey participation increases, the responses more accurately  reflect generalizable perceptions of a given school. You can also see comparisons and year-to-year changes in how people responded to the survey questions.
              <br><br>
              As you review this information, you may want to focus on response rates, responses across the key survey topics (e.g., "school climate"), or responses to individual questions (including select focus questions tied to district anchor goals).
              <br><br>
              Click one of the following to get started!
            </p>
            <div class="card-deck">
              <route-card
                  title="Response Rate"
                  route="response-rate"
                  img-src="img/routes/response-rate.png"
                  class="card">
                What percent of student, parents, teachers, and principals
                responded to the survey? How does this compare to previous years?
              </route-card>
              <route-card
                  title="Highlights"
                  route="focus-questions"
                  img-src="img/routes/focus-questions.png"
                  class="card">
                How do students, parents, and teachers respond to key selected questions about their schools?
              </route-card>          
              <route-card
                  title="School Improvement Topics"
                  route="topics"
                  img-src="img/routes/topics.png"
                  class="card">
                  How do networks and schools compare on the five key survey topics linked to school improvement?
              </route-card>
              <route-card
                  title="Question Explorer"
                  route="question-compare"
                  img-src="img/routes/question-compare.png"
                  class="card"
                  >
                  How do students, parents, teachers, and principals respond to all questions? Compare schools, networks, or groups within schools.
              </route-card>    
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="home-content-block">
        <hr>
        <div class="container">
          <div class="row justify-content-center">
            <h1>More Information</h1>
          </div>
          <div>
            <p>
              The District-wide Survey program is managed by the School District of Philadelphia’s Office of Research and Evaluation. For more about the surveys, click the button below or contact the survey team at:
                <a href="mailto:schoolsurveys@philasd.org">schoolsurveys@philasd.org</a>.
            </p>
            <route-card
              title="More about the surveys"
              route="survey-resources"
              hide-text="true"
              class="card mx-auto"
              style="width:300px; display:block-inline;">
            </route-card>
            <br>
          </div>
        </div>
      </div>  
    </div>
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>
