$color-sdp-navy: #0b315b;
$color-sdp-gold: #ffaa30;
$color-sdp-blue: #22779f;
$color-sdp-green: #398635;
$color-sdp-light-blue: #47aad8;
$color-sdp-red: #99082e;

// html, body {
//   height: 100%;
// }

.main {
  min-height: calc(100vh - 2em);
  // height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  // height: 100%;
  margin: 0 auto -2em;
}

// This z-index allows the popover filter selectors
// to go over top of modal, which by default has a higher z-index (1050 I believe)
.lui-popover-container{
  z-index: 1100;
}

.qlik-object-with-title-and-subtitle{
  margin-bottom: 64px;
}

.qlik-object-with-title{
  margin-bottom: 30px;
}

.qlik-object-no-titles{
  margin-bottom: 0px;
}

.bg-sdp { 
  background-color: $color-sdp-navy !important;
}

.above-fold {
  padding-left: 1.25rem;
}

.above-fold .instructions .text-block{
  max-width: 40em;
}

.instructions {
  color: #444;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
  .text-block {
    background-color: #f0f0f8;
    //box-shadow:2px 2px 2px #ccc;
    
    padding: 1em;
    margin-right: 0.5em;
    border-radius:8px;
    border-color:#e0e0e0;
    border-style: solid;
    border-width: thin;
  }
  .vis-block {

    // margin-left: 0.5em;
  }
  h1, h2, h3, h4, h5 {
    color: #888;
  }
  .body {
    padding-left: 10px;
  }
}

a.bg-sdp:hover, a.bg-sdp:focus,
button.bg-sdp:hover,
button.bg-sdp:focus {
  background-color: #6666AA !important;
}

// .qv-object-content {
//   position: static !important;
// }

.qv-object-content-container {
  position: static !important;
}

// .qlik-card {
//   padding:10px;
//   padding-bottom:10px;
//   //box-shadow:4px 4px 2px #ccc;
//   //background-color:#FAFAFF;
//   //border-style:solid;
//   //border-radius:4px;
//   //border-color: #ccc;
//   //border-width:0.5px;

//   .qv-object-content-container {
//     position: static !important;
//   }
// }

.accordion {
  .card-header {
    color: #fff;
    width: 100%;
    background-color:$color-sdp-blue;
    padding: 0px;
    .icon {
      background-position: right center;
      height: 24px;
      margin-right: 2em;
      //background-color: #000;
      .map {
        background-image: url("../img/icons/icon-map.png");
      }
    }
    .mb-0 {
      width: 100%;
      .btn {
        text-align: left;
        color: #fff;
        width: 100%;
        min-height: 3em;
        background-color: transparent;
        border-color: transparent;
        
      }
    }
  }
}

.symbol span {
  display: none !important;
}
.symbol:before {
  content: "-" !important;
}
.collapsed .symbol:before {
  content: "+" !important;
}



.btn-sdp {
  color: $color-sdp-navy;
  background-color: #dddddd;
  border-color: #aaaaaa;
  margin-bottom:2px;
  margin-right:2px;
  min-width: 100px;
}

.btn-sdp:hover {
  color: $color-sdp-navy;
  background-color: #bbbbcc;
  border-color: #aaaaaa;
}

.btn-sdp:focus, .btn-sdp.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-sdp.disabled, .btn-sdp:disabled {
  color: #aaa;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-sdp:not(:disabled):not(.disabled):active, .btn-sdp:not(:disabled):not(.disabled).active,
.show > .btn-sdp.dropdown-toggle {
  color: #fff;
  border-color: $color-sdp-navy;
  background-color: $color-sdp-navy;
}

.btn-sdp:not(:disabled):not(.disabled):active:focus, .btn-sdp:not(:disabled):not(.disabled).active:focus,
.show > .btn-sdp.dropdown-toggle:focus {
  // box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
