<div class="tracker">
	<div class="main">
		<section class="sticky-top">
      <navbar current-page="Tracker"></navbar>
      <filter-pane></filter-pane>  
    </section>
   	<section>
	    <div class="above-fold">    
	      <div class="instructions">     
	        <div class="row">
	          <div class="col col-lg-6 text-block"> 
	            <h2 class="header"> How many people responded to the surveys so far in 2018-2019? </h2>	
	            <p class="body">         
                Since data collection for the {{$ctrl.EYTD}} school year began, we have received   
                <span class="font-weight-bold">{{$ctrl.studentResponsesCYTD}} student </span> (grades 3 - 12)
                <span ng-if="$ctrl.showTeacher"> , </span>
                <span ng-if="!$ctrl.showTeacher"> and </span>
                <span class="font-weight-bold">{{$ctrl.parentResponsesCYTD}} parent </span>
                <span ng-if="$ctrl.showTeacher"> and
                  <span class="font-weight-bold">{{$ctrl.teacherResponsesCYTD}} teacher</span>
                </span> survey responses from district and charter schools across Philadelphia.
              </p>
              <p class="body">
                Response rates are based on {{$ctrl.reloadDate}} enrollment data. Final response rates will be calculated based on May 31st enrollment data.
              </p>
              <p class="body">Data is updated daily.</p>
            </div>
            <div class="col vis-block">
              <div class="container">
              	<div class="row">  
                  <div class="col" ng-repeat="(key, ids) in $ctrl.qlikIds">
                    <div class="kpi" ng-attr-id="{{'kpi-' + key}}">
                      <div class="text-center">
                        <h5>{{ids.title}}</h5>
                      </div>
                      <div>
                        <qlik-object obj-id="{{ids.kpi}}" height="100px" width="200px" ></qlik-object>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</section>
    <section>
      <div class="row">
        <div class="col">
          <qlik-object obj-id="{{$ctrl.tableId}}" height="600px" width="100%"></qlik-object>
        </div>
      </div>
    </section>
	</div>	
</div>