.response-rate {
	.instructions {
		.kpi {
			//box-shadow: 4px 4px 2px #CCCCCC;
			color: 444;
			background-color: #f0f0f8;
			margin: 1em;
			padding: 1em;
		}

		.qv-object-footnote {
			text-align: center;
		}
	}	
}