.response-rate {
	.instructions {
		color: #fff;
		
	  background: -moz-linear-gradient(45deg, rgba(22, 17, 101, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(22, 17, 101, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(22, 17, 101, 0.6)), to(rgba(29, 210, 177, 0.6)));
    background: -o-linear-gradient(45deg, rgba(22, 17, 101, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: linear-gradient(to 45deg, rgba(22, 17, 101, 0.6), rgba(29, 210, 177, 0.6) 100%);
	  
	  padding-top:5px;
	  padding-bottom:5px;
	  padding-left:5%;
	  padding-right:5%;
	  margin-bottom:5px;
	  img {
	  	opacity: 0.7;
	  	filter: alpha(opacity=70); /* For IE8 and earlier */
	  }
	}
}