<div class="response-rate">
  <div class="main">
    <section class="sticky-top">
      <navbar current-page="Response Rate"></navbar>
      <filter-pane></filter-pane>
    </section>
    <section>
      <div class="above-fold">    
        <div class="instructions">     
          <div class="row">
            <div class="col col-lg-6 text-block"> 
              <h2 class="header"> How many people responded to the surveys? </h2>
              <p class="body">              
                In the {{$ctrl.CYTD}} school year the School District of Philadelphia invited 
                <span class="font-weight-bold">{{$ctrl.studentsEnrolledCYTD| number : 0}} students </span> (grades 3 - 12),
                <span class="font-weight-bold">{{$ctrl.teachersEnrolledCYTD| number : 0}} teachers</span>,
                parents from <span class="font-weight-bold">{{$ctrl.parentsEnrolledCYTD| number : 0}} households</span>, and
                <span class="font-weight-bold">{{$ctrl.principalsEnrolledCYTD| number : 0}} principals </span> from district and charter schools to participate in a survey.
                <br><br>
                The response rates (summarized on the right) are important indicators of how well the data reflects the population. Additionally, both student and parent response rate impact <a target="_blank" href="https://www.philasd.org/performance/programsservices/school-progress-reports/">School Progress Reports</a>. 
                <br><br> 
                In the tabs below you can see how response rate compares by years and schools.
                <br><br>
                <span class="font-weight-bold"> Map: </span> How do schools compare across the Philadelphia area?                
                <br>
                <span class="font-weight-bold"> Yearly Change: </span> How do networks, schools, or grades compare to each other?
                <br>
                <span class="font-weight-bold"> Three-Year Trends: </span> How did response rate change over the last three years?
              </p>   
            </div>     
            <div class="col vis-block">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4 class="header" style="text-align:center"> # Responded </h4>
                  </div>
                </div>    
                <div class="row">  
                  <div class="col" ng-repeat="(key, ids) in $ctrl.qlikIds">
                    <div class="kpi" ng-attr-id="{{'kpi-' + key}}">
                      <div class="text-center">
                        <h5>{{ids.title}}</h5>
                      </div>
                      <div>
                        <qlik-object obj-id="{{ids.kpi}}" height="100px" width="200px" ></qlik-object>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </section>
    <section>
      <div class="accordion" id="accordion">
        
       
        <!-- Map -->
        <div class="card">
          <div class="card-header" id="headingMap">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingMap" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp;Map</span>
                  <img class="icon" src="img/icons/icon-map.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#accordion"  style="margin-bottom:2em;">
            <div class="card-body">               
              <div class="instructions">
                <p class="text-block pr-3">
                  Select a respondent group to view the response rate by school on the map for {{$ctrl.CYTD}}. You can zoom or scroll the area of the map.
                </p>
              </div>
              <variable-selection-pane orient-survey="horiz" surveys-hidden="['Principal']"></variable-selection-pane>
              <div class="qlik-object-with-title">
                <qlik-object obj-id="xXTjfW" height="450px" width="100%" obj-options="{noSelections:true}"></qlik-object>
              </div>              
            </div>
          </div>
        </div>

        <!-- YOY -->
        <div class="card">
          <div class="card-header" id="headingYOY">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingYOY" data-toggle="collapse" data-target="#collapseYOY" aria-expanded="false" aria-controls="collapseYOY" ng-click="$ctrl.onClickAccordion($event)">
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp;Yearly Change by Network and School</span>
                  <img class="icon" src="img/icons/icon-yoy.png"> 
                </div>
              </button>      
            </h5>
          </div>
          <div id="collapseYOY" class="collapse" aria-labelledby="headingYOY" data-parent="#accordion">
            <div class="card-body">
              <div class="instructions">
                <p class="text-block pr-3">
                  Select a group to view response rate by network or school. Bars display response rates for {{$ctrl.CYTD}}. Circles display response rates for {{$ctrl.PYTD}}. Each bar and circle represents a learning network. You can click on a network to see all schools in that network. For Students and Parents you may click on a school to show grade levels in that school.
                </p>
              </div>
              <variable-selection-pane  orient-survey="horiz" ></variable-selection-pane>
              <div class="qlik-object-with-title-and-subtitle">
                <qlik-object obj-id="ZFNtJ" height="400px" width="100%"></qlik-object>
              </div>
            </div>
          </div>  
        </div>

         <!-- 3 Year Trend -->
        <div class="card">
          <div class="card-header" id="headingTrend">
            <h5 class="mb-0">
              <button class="btn collapsed" id="headingTrend" data-toggle="collapse" data-target="#collapseTrend" aria-expanded="false" aria-controls="collapseTrend" ng-click="$ctrl.onClickAccordion($event)">             
                <div class="d-flex justify-content-between">
                  <span class="symbol">&nbsp;Three-Year Trends</span>
                  <img class="icon" src="img/icons/icon-line.png"> 
                </div>
              </button>            
            </h5>
          </div>
          <div id="collapseTrend" class="collapse" aria-labelledby="headingTrend" data-parent="#accordion">
            <div class="card-body"> 
              <div class="instructions">
                <p class="text-block pr-3">
                  The line plots below demonstrate the change in response rate over a three-year period.
                </p>
              </div>
              <div class="row">
                <div class="col-xs-3 m-2"
                    ng-repeat="ids in $ctrl.qlikIds"
                    style="max-width:310px;">
                  <div class="qlik-card" >
                    <div class="text-center">
                      <h5>{{ids.title}}</h5>
                    </div>
                    <qlik-object obj-id="{{ids.comboChart}}" height="200px" width="300px"></qlik-object>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </section>
  </div>
  <sdp-footer></sdp-footer>
</div>
